/* footer.css */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Off-white with 80% opacity */
  z-index: 1000;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  z-index: 1000; /* Ensure the footer is above other content */
}

footer a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

footer .footer-logo {
  color: #0f5fdc;
}
